-----BEGIN CERTIFICATE-----
MIIFyzCCA7OgAwIBAgIJALg1JwhUYRSQMA0GCSqGSIb3DQEBBQUAMHQxCzAJBgNV
BAYTAkFUMRMwEQYDVQQIDApTb21lLVN0YXRlMRUwEwYDVQQKDAxTaXB3aXNlIEdt
YkgxFTATBgNVBAMMDFNpcHdpc2UgR21iSDEiMCAGCSqGSIb3DQEJARYTc2Vydmlj
ZUBzaXB3aXNlLmNvbTAeFw0xNTEyMjkwNDM3MDNaFw0xNjAxMjgwNDM3MDNaMHQx
CzAJBgNVBAYTAkFUMRMwEQYDVQQIDApTb21lLVN0YXRlMRUwEwYDVQQKDAxTaXB3
aXNlIEdtYkgxFTATBgNVBAMMDFNpcHdpc2UgR21iSDEiMCAGCSqGSIb3DQEJARYT
c2VydmljZUBzaXB3aXNlLmNvbTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoC
ggIBALnPUiz5j1qji2dCemdlWx69sKCgRDHZeUbU3omPUnDfYTZTI7LP0Qvd7Yda
P4c98esIIXjwW2ZhVqfH1ZS53A8Mu5xZfPypAfGdjbFJ/l273YTqYdsCql8RFS+W
pvezMpXt+X8GhOtdv5jfX7OikbfZBnD5wEZ9rlyYnszy9n1f8BzddkM4sG7h64hm
Rwn+p39b/6pZjvEGr7C4Vm0jofp7A1SFmf/C9DDNfpY8HIVBq2PMc/gvXJCAOCv+
N+jVE0zkeEtmNdHbBN8FD5H+hjWG4xHQ3lc/I/kkAxW4JIXJ8BCIY51G8vK8shWu
UACZtbsCgXigSGzRtgS23mg+R/0/06Z9/YXat/9dw9WfapZsEFlGjI9PLMPt+PvT
8BX53Fs0Nm8vl/7YAmh/BylmRBfJJdgRZ/tmQrAWYHrETZTAcVs4Ttd4NS5V7sPK
iEKmQy0BEwo7sSI2lcDQWOMm0PFs34wPb9HahaXIthGg9RpH6W0LWkkcj/4K1GkG
eeOMCXJR3olOYVzbua6KU8BvtrN0UzfebpLTEHWFZJQSf2wmMvP3AfIZyBvs8RKb
cLUJqbRyXFFvab14WdFHcU3lVyzARMqL4iVLFfkBEQsD70ZrzH87rIhCK75f+w2Q
h4MBFVo6cElcXRH0eYXpHH0FwxdeOVmf6b+1n+gOOfoa1g7xAgMBAAGjYDBeMB0G
A1UdDgQWBBQB10kCLwadO8KHgI2DqmbedEcC+DAfBgNVHSMEGDAWgBQB10kCLwad
O8KHgI2DqmbedEcC+DAPBgNVHRMBAf8EBTADAQH/MAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQUFAAOCAgEAZ4FpoIDSPn9cHBgP5UW0JEJ1bQGIgD2xnNHqnaS21IAB
5fjUV5l4RoiD651prgBgesZOELONBeh/h59e2WPdCsCL9KzPtvv+zIOA5k3y3+Y/
+acl5ImRiXhWsAzz1hwXj0Ju00Yn/9q5xGCYlphcHneB2TL46wIA/B6At6GSYBsL
TtbhlFYQL1Y+DcNo4aBnJ3Nk8EjK/8s4UoVw7sMo6qZbqzeuLC1OLIk4khG6XE1m
0uZtbrt77bq+Nf+AjiR+zvvLCHyrUOTSVY4Rp5hWY8XM4eaJcaiIbZnkui12mbA1
Ma7WtCAGfxh1pa9ieXtYMwlgKi2RRv4dzrvUKAIQ92vM4Xg9B9SCOrSssbB156Pk
YlaTgDbax98dBxGanq2q2CJKjlD/U0O+Ttmd6Y7RFlA81ihxCNQb3y5kiH8JauUT
6f+TtAi6vcg7I28BKS0vS6BwzKc28rCKhjAelHd2Jo9ymDmtFPA+IntUC2KLYFcj
zkjRL1NruBLeMZ5jwXVPNeskvpTA7yBs522eII88TC81k9j64frB1CP2aIUlF3cC
H9cX1ruqAjcbo0CM/b6tN3c2t0yjTMCb2ghdcYe4eHaXCBpbPdrGFmiBUaEKEhKk
KIFB637BYG00/Qf5dc9/b5Wl0NKfzgl3QQURSdwvLwyGDNAlt/asRL4SV/9G5cE=
-----END CERTIFICATE-----
